@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

body {
	background-image: url("/images/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	font-family: 'PT Sans', sans-serif;
}