@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
	background-image: url("/images/background.jpg");
	background-size: cover;
	background-attachment: fixed;

	
	font-family: 'Black Ops One', cursive;
}